
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-left">
            </div>
            <div class="col-md-6 footer-right">
                <p>Hosted on <a href="https://pages.github.com/"><img src="/assets/img/gh-pages-logo.png" alt="GitHub Pages Logo"></a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 footer-below">
                <p>This website is a fork of <a href="http://startbootstrap.com/">startbootstrap.com</a> and is likewise licenced under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.
                <br>Based on <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
            </div>
        </div>
    </div>
</footer>
