<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}

<!-- Webmaster Tools Site Verification -->
<meta name="google-site-verification" content="hq9-_keIZdTZt7arZ91T-gSqn8ANii362mlcn0zCgno">
</head>

<body>
<!-- Navigation 
-->
<header class="marquee">
    <div class="container">
        <span class="brand-name">Warsztaty Programistyczne</span>
        <h1>Katowice, 18-31 Sierpnia 2015</h1>
        <p>Zorganizowane przez <a href="https://www.facebook.com/kurkiewicz.adam">Adama Kurkiewicza</a> i <a href=http://www.nasze-szkoly.edu.pl/>Zespół Szkół Prywatnych w Katowicach</a>
        </p>
        <table style="display:inline-table">
          <tbody style="display:inline-block">
          <tr>
            <td><a href="https://www.facebook.com/groups/551414308330661" class="btn btn-default btn-cta" ><i class="fa fa-chevron-circle-right"></i> Dołącz do grupy na fb</a></td>
            <td><div style="margin-right:20px"></div></td>
            <td><a href="https://docs.google.com/forms/d/1_20MM9smauYkCbWvDzepPfbKaR-PDXpdM1MH5Dhr2YM/viewform?usp=send_form" class="btn btn-default btn-cta" ><i class="fa fa-chevron-circle-right"></i> Dołącz do zajęć!</a></td>
          </tr>
          <tr style="display:inline-table;width:100%">
              <td style="width:100%"><a href="#description" class="btn btn-default btn-cta" style="width:100%"><i class="fa fa-chevron-circle-down"></i> Czytaj dalej!</a></td>
          </tr>
          </tbody>
        </table>
    </div>
</header>

<!-- Page Content -->
{{ content }}

<!-- Footer -->
{% include footer.html %}

<!-- JavaScript -->
{% include javascript.html %}

</body>

</html>
